@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* variables */
:root {
  --font-color-primary: #42446E;
  --font-color-secondary: #666666;

}

/* common css */

/* Navigation Bar  */

.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: var(--font-color-secondary);
}

/* Navigation Bar  */

/* Hero Page  */
.hero-page {
  height: calc(100vh - 90px) !important;
}

.color-gradient {
  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  background-clip: text;
  color: transparent;
}

.profile-image-wrapper .profile-img {
  width: 380px;
  height: 380px;
}

.profile-img {
  object-fit: cover;
  border-radius: 50%;
  border: double 6px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #E70FAA, #00C0FD);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* Hero Page  */

/* Responsive Design  */
@media screen and (min-width:992px) {
  h1 {
    font-size: 58px !important;
    font-weight: 700 !important;
    line-height: 70px !important;
    color: var(--font-color-primary);
  }

  h2 {
    font-size: 48px !important;
    font-weight: 700 !important;
    line-height: 26px !important;
    color: var(--font-color-primary);
  }

  p {
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    color: var(--font-color-secondary);
    margin-top: 36px;
  }
}

@media screen and (min-width:768px) {
  h1 {
    font-size: 53px;
    font-weight: 600;
    line-height: 64px;
    color: var(--font-color-primary);
  }

  h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 26px;
    color: var(--font-color-primary);
  }

  p {
    font-size: 28px;
    font-weight: 400;
    line-height: 26px;
    color: var(--font-color-secondary);
    margin-top: 28px;
  }

}

@media screen and (max-width:767px) {
  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: var(--font-color-primary);
  }

  h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 26px;
    color: var(--font-color-primary);
  }

  p {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: var(--font-color-secondary);
    margin-top: 18px;
  }

}

/* Responsive Design  */